
body{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    padding : 0px
}
.logo{
    height: 30px;
    width:90px;
}
.navbar {
    overflow: hidden;
    background-color:#fff;
    position:absolute;
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding-left: 6%;
    width: 100%;
  }
  .navbar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 8px 19px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -1%;
  }
  .sign a{
    margin-left: 115px;
  }
  .free{
      border-radius: 200px;
      background-color:rgb(255, 51, 102);
      width: 150px; 
  }
  
  .menubar{
    
    background-color:white;
    position:sticky;
    
    align-items: center;
   
    width: 100%;
    margin-right: 20px;
  }
  .menubar a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
    font-size: 15px;
    font-weight:bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
 
  .column {
    height: 442px;
    width: 565px;
    display: flex;
    color: whitesmoke
  }
  .column img{
    height: 475px;
    width: 564px;
  }
  .columnn {
    height: 410px;
    width: 661px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    display:ruby-text-container;       
  }
  .border{
    height: 268px;
    width: 512px;
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 42px;
    color: whitesmoke;
    padding-right: 90px;
    line-height: 0px;
    letter-spacing: NORMAL;
    word-spacing: 0px;
  }
  .columnn span{
    font-size: 50px;
    box-sizing: border-box;
    color: black;
    line-height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: -71px;
  }
  .border a{
    color: rgb(255, 51, 102);
    font-weight: bold;
    margin-right: -3px;
    margin-left: -13px;
  }
 .border h6{
  color: lightslategray;
    font-size: 14px;
    word-spacing: normal;
    letter-spacing: 0px;
    margin-left: 5px;
 }
 .post img{
  height: 60px;
    width: 60px;
    margin-left: -40px;
    border-radius: 30px;
    margin-top: -10px;
 }
 .post h6{
  margin-top: 14px;
  color: lightslategray;
  font-size: 13px;
  word-spacing: 2px;
  margin-left: 50px;
 }
  span{
      font-size: 23px;
      margin-left: -15px;
      height: 10px;
      width: 10px;
  }

  .container {
    display: flex;
    background-color:white;
  }
  .container > div {
    background-color: white;
    margin: 1px;
    padding: 1px;
    font-size: 21px;
    font-family: ui-sans-serif;
    line-height: 1.05;
  }
   .icon{
     height:500px;
     width:300px;
     align-items: center;
     size: 50px;
   }
   .iconc{
    background-color: white;
    border: 0px;
    height: 300px;
    margin-left: 48px;
    margin-right: 181px;
    margin-top: 100px;
}
   .iconc i{
    margin-left: 18px;
    font-size: 33px;
    padding-bottom: 16px;
    margin-top: 10px;
   }
    .para{
      height: 900%;
      width: 550px;
    }
  .para p{
    font-size: 21px;
    letter-spacing: 0.12px;
    font-family: ui-sans-serif;
    line-height: 1.05;
    font-weight: 400;
    color: rgb(23, 25, 29);
    margin: 0.375em 0px 1.5em;
  }
   .para.a{
    font-size: 20px;
    letter-spacing: 0.12px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color: rgb(23, 25, 29);
    margin: 0.375em 0px 1.5em;
   }
  





   .para .p ul li::before {
    content: "";
    width: 8px;
    height: 8px;
    background: rgb(255, 51, 102);
    display: block;
    position: absolute;
    top: 8px;
    left: 0px;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%);
   }
   .para.a{
    font-size: 20px;
    line-height: 1.05;
   }

   .io{
    display: block;
    width: 14px;
    height: 14px;
    background-color: rgb(255, 51, 102);
    margin: 120px auto 130px;
   }

   .data img{
    margin-right: -50px;
    margin-top: 13px;
   }
   .para i{
    margin-left: 0px;
    margin-top: 2px;
   }

   .data{
      display: flex;
      background-color:whitesmoke;
   }
   .data > div {
    background-color: white;
    margin: -2px;
    padding: 37px;
  }
  .data img{
    height: 55px;
    width: 55px;
    border-radius: 27px;
    margin-left: -44px;
  }


   h5{
    font-size: 14px;
    letter-spacing: 0.25px;
    font-family: "Aktiv Grotesk", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: -30px;
    color: rgb(159, 161, 167);
   }
   

    .endlay{
      display: flex;
      margin-inline-start: -370px;
      margin-inline-end: -350px;
      height: 350px;
      margin-top: 80px;
      background-color: whitesmoke;
    }
   .endlay img{
    height: 240px;
    width: 250px;
    margin-top: -70px;
    margin-left: 80px;
   }
   .endlay .nexa{
    margin-left: 60px;
    margin-top: 30px;
   }
   .nexa a{
    font-size: 15px;
    color: gray;
   }

   .nexa span a{
    margin-left:0px;
    font-size: 14px;
    color: rgb(255, 51, 102);
    font-weight: bold;
   }
   .nexa p{
    margin-left: -135px;
    font-size: 50px;
    letter-spacing: -0.5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.08;
    font-weight: bold;
    color: rgb(0, 0, 0);
   }
   .line{
    margin-left: -290px;
    margin-right: -250px;
    margin-top: 0px;
   }
   .aboveimg{
    font-size: 46px;
    line-height: 1.08;
    font-weight: bold;
    color: rgb(23, 25, 29);
    margin-left: 23px;
    margin-top: 50px;
   }
   .flex{
    display: flex;
    margin-left: -310px;
    margin-right: -250px;
    margin-top: 70px;
    background-color: white;
   }
   .flex img{
    height: 340px;
    width: 345px;
    margin-top: 0px;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 15px;
    margin-right: -5px;
  }
   .file h5{
    margin-top: 10px;
    margin-left: -10px;
    font-weight: 600;
    color: black;
   }
   .file h3{
    margin-left: -13px;
    margin-bottom: 10px;
   }
   .file1 h5{
    margin-top: 30px;
    margin-left: 20px;
    font-weight: 600;
    color: black;
   }
   .file1 h3{
    margin-left: 18px;
   }
   .file2 h5{
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 600;
    color: black;
   }
   .file2 h3{
    margin-left:30px;
   }
   .fully{
     
     display: flex;
    margin-inline-start: -370px;
    margin-inline-end: -350px;
    height: 520px;
    margin-top: 80px;
    background-color: blue;
   }
   .fully img{
    height: 400px;
    width: 400px;
    margin-top: 60px;
    margin-left: 80px;
   }
   .word p{
    margin-left: 100px;
    margin-top: 115px;
    font-size: 69px;
    color: slategrey;
    font-weight: bold;
    line-height: 1.05;
   }
   .word span{
    color: white;
    font-size: 65px;
    line-height: 2.00;
    margin-left: -28px;
   }
   .lkg{
    display: flex;
    background-color: white;
    margin-left: -355px;
   }
   .lkg .smallicon img{
    width: 40px;
    height: 40px;
    margin-left: -30px;
    margin-top: 17px;
   }
   .lkg .insidein span{
    font-size: 17px;
    color: black;
    font-family: sans-serif;
    margin-left: 36px;
   }
   .lkg .insidein ul{
    margin-left: 0px;
    font-size: 19px;
    line-height: 1.40;
    color: gray;
   }


   .lkg .follow span{
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    margin-left: 85px;
   }
   .lkg .follow ul{
    margin-left: 45px;
    font-size: 19px;
    line-height: 1.40;
    color: gray;
  }
   .lkg .be span{
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    margin-left: 140px;
   }
   .lkg .be ul{
    margin-left: 100px;
    font-size: 17px;
    line-height: 1.40;
    color: gray;
  }
   .lkg .get span{
    font-size: 16px;
    color: black;
    font-family: sans-serif;
    margin-left: 96px;
   }
   .lkg .get ul{
    margin-left: 58px;
    font-size: 17px;
    line-height: 1.40;
    color: gray;
  }
   .last{
    display: flex;
    background-color:white;
    margin-left: -310px;
   }
   .last >div {
     font-size: 15px;
   }
   .last .kkl{
    margin-left: 80px;
   }
   .last .kk{
    margin-left: 30px;
   }
   .last .k{
    margin-left:30px;
   }
   .last .ko{
    margin-left: 30px;
   }